<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="/style.css">
</head>
<body>
    <!-- <header>
        <h1>User Profile</h1>
    </header>
    -->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="/login">Logout</a></li>
        </ul>
    </nav>

    <main>
        
        
        <section class="user-profile">
            <img src="/imgs/user.jpg" alt="User Profile Picture">
            <!-- <p>person: <%= infos.id %></p> -->
            <h2>Name: <%= infos.name %></h2>
            <p>Email: <%= infos.email %></p>
            <p>Location: <%= infos.localisation %></p>
            <p>Date: <%= infos.date %></p>
        </section>
        
        <section class="user-activities">
            <h2>User's Activities</h2>
            <ul>
                <li>Activity 1</li>
                <li>Activity 2</li>
                <li>Activity 3</li>
            </ul>
        </section>
    </main>
    
    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <img src="logo.png" alt="Company Logo">
                <h3>some Name</h3>
            </div>
            <div class="footer-contact">
                <h4>Contact Information</h4>
                <p>Email: info@example.com</p>
                <p>Phone: +123-456-7890</p>
                <p>Address: 123 Main St, City, Country</p>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; 2023 Your Company Name. All rights reserved.
        </div>
    </footer>
    
</body>
</html>
    
</body>
</html>